# Ignore general Django-related files
*.pyc
__pycache__/
*.db
*.sqlite3
*.log
*.swp

# Ignore Node.js-related files and directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Ignore environment files
.env

# Ignore static files collected by Django
venv/

*/migrations/