{% load static %}
{% block sidebar %}
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    

                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                        
                            <li class="menu-title" data-key="t-menu">Menu</li>

                            <li>
                                <a href="{% url 'dashboard' %}">
                                    <i data-feather="home"></i>
                                    <span data-key="t-dashboard">Dashboard</span>
                                </a>
                            </li>
                        
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="pie-chart"></i>
                                    <span data-key="t-apps">Survey</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li>
                                        <a href="{% url 'apps:calendar' %}">
                                            <span data-key="t-calendar">Create Survey</span>
                                        </a>
                                    </li>
        
                                    <li>
                                        <a href="{% url 'apps:chat' %}">
                                            <span data-key="t-chat">Survey List</span>
                                        </a>
                                    </li>
        
                                    <li>
                                        <a href="#">
                                            <span data-key="t-email">Categories</span>
                                        </a>
                                       
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span data-key="t-email">Area</span>
                                        </a>
                                       
                                    </li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="users"></i>
                                    <span data-key="t-authentication">Users</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'apps:authentication.auth-login' %}" data-key="t-login">Add User</a></li>
                                    <li><a href="{% url 'apps:authentication.auth-register' %}" data-key="t-register">User List</a></li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="grid"></i>
                                    <span data-key="t-pages">Tools</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'pages:pages.starterpage' %}" data-key="t-starter-page">Shorten URL</a></li>
                                    <li><a href="{% url 'pages:pages.maintenance' %}" data-key="t-maintenance">QR Code</a></li>
                                    
                                </ul>
                            </li>
                            
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="file-text"></i>
                                    <span data-key="t-pages">Publications</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'pages:pages.starterpage' %}" data-key="t-starter-page">Add Publication</a></li>
                                    <li><a href="{% url 'pages:pages.maintenance' %}" data-key="t-maintenance">List Publications</a></li>
                                    <li><a href="{% url 'pages:pages.comingsoon' %}" data-key="t-coming-soon">Categories</a></li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="calendar"></i>
                                    <span data-key="t-pages">Events</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'pages:pages.starterpage' %}" data-key="t-starter-page">Add Events</a></li>
                                    <li><a href="{% url 'pages:pages.maintenance' %}" data-key="t-maintenance">List Events</a></li>
                                    <li><a href="{% url 'pages:pages.comingsoon' %}" data-key="t-coming-soon">Categories</a></li>
                                    
                                </ul>
                            </li>

                            

                            <li class="menu-title mt-2" data-key="t-components">Help and Support</li>

                            <li>
                                <a href="{% url 'apps:horizontal' %}">
                                    <i data-feather="info"></i>
                                    <span data-key="t-horizontal">Info</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'apps:horizontal' %}">
                                    <i data-feather="help-circle"></i>
                                    <span data-key="t-horizontal">Help</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'apps:horizontal' %}">
                                    <i data-feather="smile"></i>
                                    <span data-key="t-horizontal">Contact Us</span>
                                </a>
                            </li>

                            

                        </ul>

                        
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
{% endblock  %}